CIS 9 - Lab 3: supervised learning

In [1]:
# Name: Ulises Marian

1. Create a model to predict health insurance cost for someone, given their basic health information. The input file to train and test your model is _insurance.xlsx_, (from [source]( https://www.kaggle.com/mirichoi0218/insurance))

In [104]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

1a. Read in the insurance.xlsx file into a DataFrame. Print the size of the DataFrame and the first 5 data records

In [105]:
data = pd.read_excel("insurance.xlsx")
print(data.shape)
data.head()

(1338, 7)

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

1b. Do some preliminary investigation to see if there's any correlation between each of the input features and the resulting charges (the output).
<br>Which feature has the strongest correlation to the charges? Explain your answer.

In [107]:
age = data.age
gender = data.gender
bmi = data.bmi
children = data.children
smoker = data.smoker
region = data.region
charges = data.charges

#plt.scatter(age, charges)
#plt.scatter(gender, charges)
#plt.scatter(bmi, charges)
#plt.scatter(children, charges)
#plt.scatter(smoker, charges)
#plt.scatter(region, charges)  #not region
plt.show()

#age has the strongest correlation to the charges because it can be
#clearly appreciated how charges increase as age increases

1c. Recall that all data need to be numeric values for scikit-learn (why?)
<br>Change the data in the columns: 'gender', 'smoker', and 'region' to numeric values (0,1,2...). 
(Hint: check the pandas exercise for changing a column of data in a DataFrame)

It's up to you how to assign the numeric value. Standard practice is to assign 0,1,2,3...
<br>For example, smoker = 0, non-smoker = 1

For gender and smoker columns, it's okay to hardcode the dictionary since there are only 2 key:value pairs. For the region column, _make sure to use features of pandas and Python_ to create the dictionary, don't hard code any key or value.

In [108]:
#all data need to be numeric values because that's how the scikit-learn models and algorithms work, they need numbers to do 
data["gender"].replace({"female":0, "male":1}, inplace=True)

data["smoker"].replace({"yes":0, "no":1}, inplace=True)
data

regions = []

for region in data["region"].values:
    if region not in regions:
        regions.append(region)

dict_region = {region:regions.index(region) for region in regions}
print(dict_region)

data["region"].replace(dict_region, inplace=True)
data

#alternative to dict comprehension....zip
#dict_region = dict(zip(regions, [i for i in range(len(regions))]))

{'southwest': 0, 'southeast': 1, 'northwest': 2, 'northeast': 3}

      age  gender     bmi  children  smoker  region      charges
0      19       0  27.900         0       0       0  16884.92400
1      18       1  33.770         1       1       1   1725.55230
2      28       1  33.000         3       1       1   4449.46200
3      33       1  22.705         0       1       2  21984.47061
4      32       1  28.880         0       1       2   3866.85520
...   ...     ...     ...       ...     ...     ...          ...
1333   50       1  30.970         3       1       2  10600.54830
1334   18       0  31.920         0       1       3   2205.98080
1335   18       0  36.850         0       1       1   1629.83350
1336   21       0  25.800         0       1       0   2007.94500
1337   61       0  29.070         0       0       2  29141.36030

[1338 rows x 7 columns]

1d. From the DataFrame, create the X and y datasets.
<br>Start with the features with the strongest correlation, then experiment to see which other features to include in the X dataset.

In [109]:
X = pd.DataFrame(data["age"])
y = pd.Series(data["charges"])

X.shape

(1338, 1)

1e. Split the X, y datasets into the training and testing sets
<br>Show the size of each set.

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1003, 1) (335, 1) (1003,) (335,)

1f. Choose the appropriate scikit-learn algorithm. (Hint: is this regression or classification?)
<br>Then train and test the model.

In [111]:
import sklearn.linear_model as lm

regr = lm.LinearRegression()
regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

           Actual     Predicted
664   27037.91410  20011.946786
23    37701.87680  11794.084010
563    9058.73030  16176.944157
311    1737.37600   7685.152623
1327   9377.90470  16450.872916
...           ...           ...
411   19594.80965  14533.371602
881    2789.05740   8780.867659
557    3935.17990  11794.084010
848    2974.12600   9876.582696
55    47496.49445  18368.374231

[335 rows x 2 columns]

In [117]:
#this is where I do my experimenting for 1g and 1d, doing it after 1f, because 1f is where lm is imported

#with age
X = pd.DataFrame(data[["age", "children", "smoker", "bmi", "region",]])
#X.columns

#splitting again, because X was modified (one more feature was added, "gender")
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)

coeff = pd.DataFrame(regr.coef_, X.columns, columns=['Coefficient'])
print(coeff)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))


#without age
X = pd.DataFrame(data[["children", "smoker", "bmi", "region",]])
#X.columns

#splitting again, because X was modified (one more feature was added, "gender")
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)

coeff = pd.DataFrame(regr.coef_, X.columns, columns=['Coefficient'])
print(coeff)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))


#without gender
X = pd.DataFrame(data[["age", "children", "smoker", "bmi", "region",]])
#X.columns

#splitting again, because X was modified (one more feature was added, "gender")
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)

coeff = pd.DataFrame(regr.coef_, X.columns, columns=['Coefficient'])
print(coeff)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))

#without bmi
X = pd.DataFrame(data[["age", "children", "smoker","region"]])
#X.columns

#splitting again, because X was modified (one more feature was added, "gender")
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)

coeff = pd.DataFrame(regr.coef_, X.columns, columns=['Coefficient'])
print(coeff)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))


#without region
X = pd.DataFrame(data[["age", "children", "smoker", "bmi"]])
#X.columns

#splitting again, because X was modified (one more feature was added, "gender")
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)

coeff = pd.DataFrame(regr.coef_, X.columns, columns=['Coefficient'])
print(coeff)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))

           Coefficient
age         251.104981
children    511.619843
smoker   -23724.861494
bmi         341.715500
region      280.341317
Root Mean Squared Error: 6235.277345713725
R^2: 0.7504861867528403
           Coefficient
children    485.104328
smoker   -23499.738205
bmi         412.059846
region      437.227089
Root Mean Squared Error: 7073.143929100036
R^2: 0.6626228732096959
           Coefficient
age         259.881951
children    409.558584
smoker   -24094.888610
bmi         304.367309
region      222.931148
Root Mean Squared Error: 5967.741872723498
R^2: 0.7502118257234818
           Coefficient
age         278.656452
children    448.722319
smoker   -23541.235631
region      -91.035103
Root Mean Squared Error: 6686.931607367387
R^2: 0.7233600518764602
           Coefficient
age         256.797190
children    368.451196
smoker   -23450.040155
bmi         343.193761
Root Mean Squared Error: 5870.666652456316
R^2: 0.749314750885518

1g. Show the accuracy of the model, and go back to step 1d to see what features to include in the X dataset.
- The answer you submit should only be the _final one_, with all the X features you think are necessary. Don't include all the testing you did for your answer.
- Also show why you included the features you chose for the X dataset. Ideally you would show the reason why with data and not just with a text explanation.

In [118]:
#accuray of the model (1d)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))    #An R^2 value of 1.0 (100%) is a perfect fit

print()

#final answer:
X = pd.DataFrame(data[["age", "children", "smoker", "bmi", "region"]])

#splitting again, because X was modified (one more feature was added, "gender")
X_train, X_test, y_train, y_test = train_test_split(X, y)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

regr = regr.fit(X_train, y_train)  
y_pred = regr.predict(X_test)

coeff = pd.DataFrame(regr.coef_, X.columns, columns=['Coefficient'])
print(coeff)
RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))    #A lower RSME is a better fit.
print('Root Mean Squared Error:',RMSE)
print('R^2:', regr.score(X,y))

#I leaned not only in the coefficients of each feature, but also on how they changed depending
# on the features included in X, to ultimately decide which features to include in my final X dataset.

Root Mean Squared Error: 5870.666652456316
R^2: 0.749314750885518

           Coefficient
age         260.476744
children    579.304658
smoker   -23728.375100
bmi         338.840764
region      283.278039
Root Mean Squared Error: 6236.995874904774
R^2: 0.7505177901981466

---

2. Create a model to predict whether someone is likely to make above $50K or not. The input file to train and test your data is in _incomeEval.xlsx_ (from: [source](https://www.kaggle.com/lodetomasi1995/income-classification))

2a. Read in the incomeEval.xlsx file into a DataFrame. Print the size of the DataFrame and the first 5 data records

In [164]:
data = pd.read_excel("incomeEval.xlsx")
print(data.shape)
data.head()

(32561, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

2b. Modify the DataFrame so it only contains data for the US (the native-country column) and for workers with 40 or more hours per week.
<br>To select columns, you will need to inspect the column labels carefully. It might be useful to change the column labels to make them easier to work with. Sometimes data can be messy, but pandas gives us the tools to clean it up.
<br>Show the first 5 lines of the resulting DataFrame

In [165]:
data.columns = data.columns.str.lstrip()
data.columns = data.columns.str.replace('-','_') #problem with hyphen in column names/labels, so replace it

data.loc[:,["native_country"]] = data["native_country"].str.strip()   #removing leading space in column values
#alternative: data["native_country"] = data["native_country"].str.strip()  


data = data[data.native_country == 'United-States']   #only data for native_country="United States"
# alternative: data = data[data["native_country"] == "United-States"]

data = data[data.hours_per_week > 39]    #only workers with 40+ hours week

data.index = [i for i in range(len(data))]  #updating the indexes after removing non-"United-States" and hours_per_week < 40 rows

data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
4,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K

2c. Remove the 'fnlwgt', 'education-num', 'marital-status', 'relationship', 'capital-gain', 'capital-loss', and 'native-country' columns from the DataFrame. They are either redundant or don't affect the output salary prediction.
<br>Print the first 5 lines of the resulting DataFrame.

In [166]:
data = data.drop(columns=["fnlwgt", "education_num", "marital_status", "relationship", "capital_gain", "capital_loss", "native_country"])

data.head()

,age,workclass,education,occupation,race,gender,hours_per_week,income
0,39,State-gov,Bachelors,Adm-clerical,White,Male,40,<=50K
1,38,Private,HS-grad,Handlers-cleaners,White,Male,40,<=50K
2,53,Private,11th,Handlers-cleaners,Black,Male,40,<=50K
3,37,Private,Masters,Exec-managerial,White,Female,40,<=50K
4,52,Self-emp-not-inc,HS-grad,Exec-managerial,White,Male,45,>50K

2d. Change all text data in each column into numeric values (0,1,2...)
<br>For each column, use the same way as step 1c above where you don't have to hard code any key or value. But don't copy-and-paste the same code for each column, use a loop to go through each column.
<br>Print the first 5 lines of the resulting DataFrame

In [167]:
columns = [column for column in data.columns.values]

for column in columns:
    column_list = []
    column_dict = {}
    for value in data[f"{column}"].values:
        if value not in column_list:
            column_list.append(value)
        column_dict[value] = column_list.index(value)
    data[column].replace(column_dict, inplace=True)
    
data.head()

   age  workclass  education  occupation  race  gender  hours_per_week  income
0    0          0          0           0     0       0               0       0
1    1          1          1           1     0       0               0       0
2    2          1          2           1     1       0               0       0
3    3          1          3           2     0       1               0       0
4    4          2          1           2     0       0               1       1

2e. From the DataFrame, create the X and y datasets. You may not need all the columns for the X dataset.
<br>Print the size of the X and y datasets

In [206]:
X = data.drop(columns=["income"])
print(X.shape)
y = data.income
print(y.shape)

# age = data.age
# workclass = data.workclass
# education = data.education
# occupation = data.occupation
# race = data.race
# gender = data.gender
# hours = data.hours_per_week

# income = data.income

# plt.scatter(education, income)
# plt.show()

(22174, 7)
(22174,)

2f. Split the X, y datasets into the training and testing datasets

In [207]:
X_train, X_test, y_train, y_test = train_test_split(X,y)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score


# classifiers = [
#     KNeighborsClassifier(3),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
#     GaussianNB()
#     ]

# for classifier in classifiers:
#     # train the classifier
#     classifier.fit(X_train, y_train)  
#     # test the trained classifier
#     y_output = classifier.predict(X_test)
#     # compare the predicted output with the actual output
#     print(classifier)
#     print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
#     print(metrics.accuracy_score(y_test, y_output))
#     print(metrics.confusion_matrix(y_test, y_output))
#     print()

# print("NEW")
# X = data.drop(columns=["income", "race"])
# y = data.income


# X_train, X_test, y_train, y_test = train_test_split(X,y)

# classifiers = [
#     KNeighborsClassifier(3),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
#     GaussianNB()
#     ]

# for classifier in classifiers:
#     # train the classifier
#     classifier.fit(X_train, y_train)  
#     # test the trained classifier
#     y_output = classifier.predict(X_test)
#     # compare the predicted output with the actual output
#     print(classifier)
#     print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
#     print(metrics.accuracy_score(y_test, y_output))
#     print(metrics.confusion_matrix(y_test, y_output))
#     print()

# print("NEW")
# X = data.drop(columns=["income", "race", "gender"])
# y = data.income

# X_train, X_test, y_train, y_test = train_test_split(X,y)

# classifiers = [
#     KNeighborsClassifier(3),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
#     GaussianNB()
#     ]

# for classifier in classifiers:
#     # train the classifier
#     classifier.fit(X_train, y_train)  
#     # test the trained classifier
#     y_output = classifier.predict(X_test)
#     # compare the predicted output with the actual output
#     print(classifier)
#     print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
#     print(metrics.accuracy_score(y_test, y_output))
#     print(metrics.confusion_matrix(y_test, y_output))
#     print()

# print("NEW")
# X = data.drop(columns=["age","income", "race", "gender"])
# y = data.income

# X_train, X_test, y_train, y_test = train_test_split(X,y)

# classifiers = [
#     KNeighborsClassifier(3),
#     DecisionTreeClassifier(),
#     RandomForestClassifier(),
#     GaussianNB()
#     ]

# for classifier in classifiers:
#     # train the classifier
#     classifier.fit(X_train, y_train)  
#     # test the trained classifier
#     y_output = classifier.predict(X_test)
#     # compare the predicted output with the actual output
#     print(classifier)
#     print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
#     print(metrics.accuracy_score(y_test, y_output))
#     print(metrics.confusion_matrix(y_test, y_output))
#     print()

# print("NEW")
# X = data.drop(columns=["income", "race", "workclass"])
# y = data.income

# X_train, X_test, y_train, y_test = train_test_split(X,y)

# classifiers = [
#     RandomForestClassifier()
#     ]

# for classifier in classifiers:
#     # train the classifier
#     classifier.fit(X_train, y_train)  
#     # test the trained classifier
#     y_output = classifier.predict(X_test)
#     # compare the predicted output with the actual output
#     print(classifier)
#     print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
#     print(metrics.accuracy_score(y_test, y_output))
#     print(metrics.confusion_matrix(y_test, y_output))
#     print()

# print("NEW")
# X = data.drop(columns=["income", "race", "education", "gender"])
# y = data.income

# X_train, X_test, y_train, y_test = train_test_split(X,y)

# classifiers = [
#     RandomForestClassifier()
#     ]

# for classifier in classifiers:
#     # train the classifier
#     classifier.fit(X_train, y_train)  
#     # test the trained classifier
#     y_output = classifier.predict(X_test)
#     # compare the predicted output with the actual output
#     print(classifier)
#     print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
#     print(metrics.accuracy_score(y_test, y_output))
#     print(metrics.confusion_matrix(y_test, y_output))
#     print()
#     df = pd.DataFrame({'Actual': y_test, 'Predicted': y_output})
#     print (df)

(16630, 7) (5544, 7) (16630,) (5544,)

2g. Use the models that we've discussed in class to see which X features and model have the most accurate prediction. You may have to go back to step 2e to experiment with the X features and the accuracy.
<br>Show the _final_ accuracy score and confusion matrix for each model. Don't include all the experimental data you had to arrive at the final answer.

In [228]:
X = data.drop(columns=["income", "race", "workclass", "hours_per_week"])
y = data.income

X_train, X_test, y_train, y_test = train_test_split(X,y)

classifiers = [
    KNeighborsClassifier(3),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    GaussianNB()
    ]

for classifier in classifiers:
    # train the classifier
    classifier.fit(X_train, y_train)  
    # test the trained classifier
    y_output = classifier.predict(X_test)
    # compare the predicted output with the actual output
    print(classifier)
    print(f"score: {f1_score(y_test, y_output, average='weighted'):.3f}")
    print(f"accuracy score: {metrics.accuracy_score(y_test, y_output)}")
    print(metrics.confusion_matrix(y_test, y_output))

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_output})
#df

KNeighborsClassifier(n_neighbors=3)
score: 0.720
accuracy score: 0.7242063492063492
[[3222  678]
 [ 851  793]]
DecisionTreeClassifier()
score: 0.727
accuracy score: 0.7388167388167388
[[3384  516]
 [ 932  712]]
RandomForestClassifier()
score: 0.730
accuracy score: 0.7388167388167388
[[3328  572]
 [ 876  768]]
GaussianNB()
score: 0.667
accuracy score: 0.70995670995671
[[3569  331]
 [1277  367]]

       Actual  Predicted
11344       0          0
4786        0          0
41          0          0
1516        0          0
883         0          0
...       ...        ...
10068       1          0
18949       0          0
20080       1          1
21802       1          1
19894       0          1

[5544 rows x 2 columns]

2h. In your own words, what algorithm and X features would you use as your model to predict salaries, and why?

In [12]:
#I would use the RandomForestClassifier algorithm, and the features: age, education, occupation and gender